extends ../base.jade

block content
  script(src="/js/give.js")

  .alert.alert-info.alert-dismissible
    button.close &times;
    i.glyphicon.glyphicon-info-sign
    | #{' '}Make sure you have already logged in into#{' '}
    a(href="https://microsoft.benevity.org", target="_blank")
      strong Microsoft Benevity

  .panel.panel-default
    .panel-heading Volunteer Hours Report
    .panel-body
      .btn-group
        a.btn.btn-default(href="https://microsoft.benevity.org/volunteer/export/my-history/2017", target="_blank")
          i.glyphicon.glyphicon-download-alt
          span #{' '}Get Report
        a.btn.btn-success(href="https://microsoft.benevity.org/volunteer/export/my-history/2017", target="_blank")
          i.glyphicon.glyphicon-calendar
          span #{' '}Load Report
    table.table.table-hover.table-striped
      thead
      tbody
//
  <input type="file" id="csvInput" name="csv" />

  <script>
    if (!(window.File && window.FileReader && window.FileList && window.Blob)) {
      alert("The File APIs are not fully supported in this browser. :(");
    }

    function handler(evt) {
      var file = evt.target.files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        alert("test");
        document.write(reader.result);
      };

      // Read in the image file as a data URL.
      reader.readAsText(file);
    };

    $("#csvInput").on("change", handler);
  </script>

  // alert(new Date(1489647600 * 1000).toString());
